<div class="wrapper">

  <ses-header></ses-header>

  <div class="content-wrapper">
    <div class="container">
      <router-outlet></router-outlet>
    </div>
  </div>

  <footer class="main-footer">
    <div class="container">
      <div class="pull-right hidden-xs">
        <b>Version</b> 1.0.0
      </div>
      <strong>Treasy</strong> - Pedro Felipe 
    </div>
  </footer>
</div>
