<!-- Início do header -->
<header class="main-header">
<nav class="navbar navbar-static-top">
  <div class="container">
    <div class="navbar-header">
      <a [routerLink]="['/']" class="navbar-brand"><b>Treasy - Teste Pedro Felipe</b></a>
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse">
        <i class="fa fa-bars"></i>
      </button>
    </div>
  </div>
</nav>
</header>
<!-- Fim do header -->
